{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static "css/all.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<title>MEDLIFE</title>
	</head>
	<body>
        {% comment %} Nav bar {% endcomment %}
		{% include "parts/navbar.html" %}
		{% include "parts/circle.html" %}
		{% block content%}
        {% endblock content%}
		{% include "parts/footer.html" %}
		<script src="{% static "js/bootstrap.bundle.js" %}"></script>
	</body>
</html>
