{% extends "base.html" %} 
{% load static %}
{% block content %}
<header class="d-flex justify-content-center align-items-center p-2">
	<div class="container p-2">
		<div class="row justify-content-center align-items-center g-2">
			<div
				class="col-12 d-flex flex-wrap justify-content-center align-items-center text-center gap-5"
			>
				<h2 class="text-white fw-bolder h1 m-2">We can get your Drug</h2>
				<p class="text-white lead w-100 m-2">
					We have all the drugs your doctor prescribed for your health and what’s more, we
					can get it to you.
				</p>
				<form class="d-flex rounded w-100 m-2" role="search">
					<input
						class="form-control me-2 rounded-pill"
						type="search"
						placeholder="Try medicine"
						aria-label="Search"
						name="q"
					/>
					<button class="btn btn-success rounded-pill" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</header>
<main>
	<div class="affiliate mt-2 p-4">
		<div
			class="container d-flex flex-wrap justify-content-center align-items-center text-center"
		>
			<h2 class="h1 fw-bolder main-color-blue">Our Affiliations</h2>
			<div class="row justify-content-center align-items-center g-2">
				<div class="col-6">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-4 my-4">
							<img class="w-50" src="{% static "images/v6_517.png" %}" alt="" />
						</div>
						<div class="col-lg-4 my-4">
							<img class="w-50" src="{% static "images/v6_519.png" %}" alt="" />
						</div>
						<div class="col-lg-4 my-4">
							<img class="w-50" src="{% static "images/v6_521.png" %}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clients mt-2 p-4">
		<div class="container">
			<div class="row justify-content-center align-items-center g-2">
				<div class="col-lg-6">
					<img class="w-100" src="images/" alt="" />
				</div>
				<div class="col-lg-6">
					<div class="content bg-info">
						<div class="title inter h1 text-center">What Our Clients Say</div>
						<div class="multi-Line">
							<div class="multi-Line">
								<div class="row justify-content-center align-items-center g-2">
									<div class="col-4 blue-Line rounded"></div>
									<div class="col-4 green-Line rounded"></div>
								</div>
							</div>
						</div>
						<div id="carouselExampleCaptions" class="h-25 carousel slide bg-danger">
							<div class="carousel-indicators mt-2">
								<button
									type="button"
									data-bs-target="#carouselExampleCaptions"
									data-bs-slide-to="0"
									class="active my-btn"
									aria-current="true"
									aria-label="Slide 1"
								></button>
								<button
									type="button"
									data-bs-target="#carouselExampleCaptions"
									data-bs-slide-to="1"
									class="my-btn"
									aria-label="Slide 2"
								></button>
								<button
									type="button"
									data-bs-target="#carouselExampleCaptions"
									data-bs-slide-to="2"
									class="my-btn"
									aria-label="Slide 3"
								></button>
							</div>
							<div class="carousel-inner">
								<div class="carousel-item active p-5">
									<div class="carousel-caption d-none d-md-block">
										<div class="content">
											“The ease of delivery is one that I depended on when I
											was bedridden and couldn’t even walk. Their services is
											awesome”
										</div>
										<div class="main-color-blue fw-4">- Gerald Maldiliene</div>
									</div>
								</div>
								<div class="carousel-item p-5">
									<div class="carousel-caption d-none d-md-block">
										<div class="content">
											“The ease of delivery is one that I depended on when I
											was bedridden and couldn’t even walk. Their services is
											awesome”
										</div>
									</div>
								</div>
								<div class="carousel-item p-5">
									<div class="carousel-caption d-none d-md-block">
										<div class="content">
											“The ease of delivery is one that I depended on when I
											was bedridden and couldn’t even walk. Their services is
											awesome”
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}
