{% extends "base.html" %} {% load static %} {% block content %}

<main class="mt-5">
	<div class="container p-5">
		<div class="row justify-content-center align-items-center g-2 flex-wrap">
			<div class="back-arrow bg-body-tertiary">
				<a class="text-decoration-none" href="products.html"> a </a>
			</div>
			<div class="col-lg-6">
				<div class="content">
					<div class="row justify-content-center align-items-center g-2">
						<img src="images/Pictures/panadol2.jpeg" alt="" class="d-block rounded" />
						<div
							class="price row justify-content-center align-items-center g-2 flex-wrap"
						>
							<div class="col-6">
								<div class="content lead">Price : 45 EPG</div>
							</div>
							<div
								class="col-5 row justify-content-center align-items-center g-2 flex-wrap"
							>
								<div class="plus col-4">
									<button type="button" class="btn btn-light fs-4">+</button>
								</div>
								<div class="number col-4 fw-bolder lead">1</div>
								<div class="plus col-4">
									<button type="button" class="btn btn-light fs-4">-</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</main>
{% endblock content %}
