{% extends "base.html" %} {% load static %} {% block content %}

<main class="products my-5">
	<div class="container p-5">
		<div class="row justify-content-center align-items-center g-2 flex-wrap">
			<div class="col-12">
				<h3 class="text-center main-color-blue h1 mb-4">Browse By Category</h3>
			</div>
			<div class="col-12">
				<div class="row g-4 align-items-center justify-content-center flex-wrap">
					<div class="col-lg-6 col-xl-4">
						<div
							class="head-item shadow-lg mb-5 bg-body-tertiary overflow-hidden rounded"
						>
							<div>
								<img
									src="images/Pictures/mediction.png"
									class="w-100 rounded"
									alt="mediction"
								/>
							</div>
							<h4 class="text-center p-2">Medicine</h4>
						</div>
					</div>
					<div class="col-lg-6 col-xl-4">
						<div class="head-item shadow-lg mb-5 bg-body-tertiary rounded">
							<div>
								<img
									src="images/Pictures/medical.png"
									class="w-100 rounded"
									alt="medical"
								/>
							</div>
							<h4 class="text-center p-2">Medical Equipment</h4>
						</div>
					</div>
					<div class="col-lg-6 col-xl-4">
						<div class="head-item shadow-lg mb-5 bg-body-tertiary rounded">
							<div>
								<img
									src="images/Pictures/vitamine.png"
									class="w-100 rounded"
									alt="vitamine"
								/>
							</div>
							<h4 class="p-2 text-center">Vitamins</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="multi-Line">
					<div class="row justify-content-center align-items-center g-2">
						<div class="col-6 blue-Line rounded-start"></div>
						<div class="col-6 green-Line rounded-end"></div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row align-items-center justify-content-center mt-4">
					<div class="col-12">
						<h3 class="text-center main-color-blue h1 fw-1 mb-4">Featured Products</h3>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/centrum.jpeg"
									class="w-100"
									alt="centrum"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Centrum</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>600EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img src="images/Pictures/Rivo.jpg" class="w-100" alt="Rivo" />
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Rivo</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>63EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/Panadol.png"
									class="w-100"
									alt="Panadol"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Panadol</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>40EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/panadol2.jpeg"
									class="w-100"
									alt="panadol2"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Panadol</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>45EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/strepsils.jpeg"
									class="w-100"
									alt="strepsils"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Strepsils</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>150EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img src="images/Pictures/Nexium.jpeg" class="w-100" alt="Nexium" />
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Nexium</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>220EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/Ambroxol.jpeg"
									class="w-100"
									alt="Ambroxol"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Ambroxol</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>180EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/COMTREX.jpeg"
									class="w-100"
									alt="COMTREX"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>COMTREX</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>75EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/Vitamin c.jpeg"
									class="w-100"
									alt="Vitamin c"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>VITAMIN C</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>150EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded">
							<div>
								<img
									src="images/Pictures/gold standaard.jpeg"
									class="w-100"
									alt="gold standaard"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>GOLD STANDARD</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>4750EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary rounded he">
							<div class="he-img">
								<img
									src="images/Pictures/ferogobin.jpeg"
									class="w-100 h-4"
									alt="ferogobin"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Ferogobin</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Eligendi eius non, repudiandae accusantium excepturi sed?
									</p>
									<span>120EGP</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="item1 shadow mb-5 bg-secondary">
							<div class="d-flex justify-content-center">
								<img
									src="images/Pictures/vitamount.jpeg"
									class="w-100 rounded"
									alt="vitamount"
								/>
							</div>
							<div class="layer text-center p-2">
								<div class="item-content mt-5">
									<h4>Vitamount</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quasi impedit delectus qui atque quaerat nemo.
									</p>
									<span>150EGP</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}
